@import "tailwindcss";

*{
    background-color: rgb(23, 24, 24);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#black{
    height: 80vh;
    width: 90vw;
    background-color: rgb(23, 24, 24);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#black > h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 100px;
    margin-top: 1em;
}
#black > p{
    margin: 1.375em;
    text-align: center;
    width: 50%;
}
#video{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#blue{
    height: 100vh;
    width: 100vw;
    background-color: blue;
}
